.ad-card {

  .photo-item {

    img {
      width: 245px;
      height: 230px;
      margin-bottom: 10px;
      margin-right: 0px;
      display: inline-block;
      vertical-align: bottom;
    }
  }
}
