.comment-section {
  .image-preview {
    max-width: 50%;

    img {
      max-width: 100%;
    }
  }

  .comment-item {
    position: relative;

    .photo-item {
      img {
        max-width: 100%;
      }
    }

    .comment-actions {
      position: absolute;
      right: 8px;
      top: 3px;
      cursor: pointer;
    }
  }
}

.ReactModal__Content {
  .post-creation {
    max-width: 600px;

    .photo-item {

      img {
        max-width: 100%;
      }
    }
  }
}
