.feed {
  .photos {

    .photo-item {
      display: inline-block;
      overflow: hidden;
      margin-bottom: 10px;
      vertical-align: bottom;
      margin-right: 0px;
      max-width: 175px;

      img {
        height: 183px;
        width: auto;
      }
    }

    .photo-item:nth-child(odd) {
      margin-right: 10px;
    }

    .photo-item:nth-child(4n + 1), .photo-item:nth-child(4n + 4) {
      max-width: 260px;
    }
  }
}

.form-group.post-creation {
  margin-bottom: 0;
}

.post-creation {

  .controls {
    float: right;
    button {
      margin-top: 10px;
      margin-left: 5px;
    }
  }
}
