.photos-card {

  a:nth-child(odd) .album-item {
    margin-right: 10px;
  }

  a:nth-child(even) .album-item {
    margin-right: 0px;
  }

  .album-item {
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: bottom;

    .album-title {
      color: white;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      padding: 10px;
      font-weight: bold;
      text-shadow: 0 0 4px black;
      background: rgba(0,0,0,0.7);
      cursor: pointer;

      div:first-child {
        display: none;
      }
    }

    img {
      width: 114px;
      height: 118px;
    }

    img.img-thumbnail {
      padding: 0;
      border: none;
      border-radius: 0;
    }
  }
}

.zoom-overlay {
  display: flex;
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.8);

  div {
    width: 90%;
    height: 100%;
    display: flex;

    img {
      max-width: 100%;
      max-height: 90%;
      margin: auto;
      cursor: zoom-out;
      display: block;
    }
  }
}

.zoom-overlay.pointer-events {
  pointer-events: all;
}

.photo-item {
  overflow: hidden;
  position: relative;

  .handle-remove {
    position: absolute;
    color: white;
    font-weight: 900;
    font-size: 28px;
    top: -7px;
    right: 5px;
    cursor: pointer;
    display: none;
    text-shadow: 0 0 8px #000;
  }

  img {
    cursor: zoom-in;
  }
}

.photo-item:hover {
  .handle-remove {
    display: block;
  }
}

@media (max-width: 1259px) and (min-width: 992px ) {
  .image-previews {
    max-width: 340px;
  }

  .photos-card {
    .photo-item {
      img {
        width: 84px;
        height: auto;
      }
    }
  }

  .feed {
    .photos {
      .photo-item {
        max-width: 125px;
      }

      .photo-item:nth-child(4n + 1), .photo-item:nth-child(4n + 4) {
        max-width: 185px;
      }
    }
  }
}

@media (max-width: 620px) {
  .feed {
    .photos {
      .photo-item {
        width: 100%;
        max-width: 100%;

        img {
          width: 100%;
        }
      }

      .photo-item:nth-child(4n + 1), .photo-item:nth-child(4n + 4) {
        max-width: 100%;
      }
    }
  }
}
