.image-previews {
  margin-top: 15px;
  margin-bottom: 15px;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 220px;
  max-width: 100%;
  max-width: 453px;


  .photo-item {
    display: inline-block;
    margin-right: 10px;
    max-width: 300px;
    max-height: 200px;
    position: relative;

    img {
      max-height: 200px;
      max-width: 300px;
    }

    .handle-remove {
      position: absolute;
      color: white;
      font-weight: 900;
      font-size: 28px;
      top: -7px;
      right: 5px;
      cursor: pointer;
      display: none;
      text-shadow: 0 0 8px #000;
    }
  }

  .photo-item:hover {
    .handle-remove {
      display: block;
    }
  }
}

.ReactModal__Content {
  .post-creation {
    min-width: 500px;
  }

  .image-previews {
    max-width: 100%;
    width: 100%;
  }
}

@media (max-width: 1259px) and (min-width: 992px ) {
  .image-previews {
    max-width: 340px;
  }
}

.only-photo {

  .photo-item {

    img {
      max-width: 100%;
    }
  }
}
