.edit-profile {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d3e0e9;
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    text-align: center;
  }

  .upload-area {
    text-align: center;
  }

  .edit-avatar {
    cursor: pointer;
  }

  .click-help-text {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    display: block;
  }

  .tab-content {
    border: 1px solid #ddd;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top: 0;
    margin-bottom: 20px;
    padding: 20px;
  }

  .alert {
    margin-bottom: 0;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
  }

  .view-profile-btn {
    vertical-align: bottom;
    margin-left: 10px;
  }
}

.profile-menu-dropdown {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    display: block;

    a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }

    a:hover {
      text-decoration: none;
      background-color: #f5f8fa;
    }
  }
}

.profile-header {
  position: relative;

  .profile-header-nav {
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 25px black;
  }
}

.profile-photos {

  .col-md-3 {
    height: 440px;

    .panel-profile {
      height: 410px;

      .friend-button {
        position: absolute;
        bottom: 50px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
      }
    }
  }

  .photo-item {
    display: inline-block;
    overflow: visible;
    margin: 10px;
    vertical-align: bottom;

    img {
      max-width: 300px;
      height:auto;
    }
  }
}

.profile-menu {

  li {
    .app-notifications {
      padding-bottom: 0 !important;
      margin-right: 10px;
      margin-left: 0;

      .icon {
        line-height: 49px;
        color: rgba(255, 255, 255, 0.8);
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;
      }

      .badge.notification {
        background-color: red;
        font-weight: 900;
        padding: 1px 3px;
        position: absolute;
        bottom: 11px;
        right: 4px;
      }
    }

    .app-notifications.has-dropdown {

      .dropdown {
        bottom: calc(-100% + 45px);
        left: 30px;
      }

      .friend-requests {
        min-width: 275px;
        max-height: 400px;
        overflow-y: auto;
        overflow-x: hidden;
      }
    }
  }
}
