.edit-profile {
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d3e0e9;
  padding-top: 20px;
  padding-bottom: 20px;

  h3 {
    text-align: center;
  }

  .upload-area {
    text-align: center;
  }

  .edit-avatar {
    cursor: pointer;
  }

  .click-help-text {
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    display: block;
  }
}

.profile-menu-dropdown {
  list-style: none;
  padding-left: 0;

  li {
    position: relative;
    display: block;

    a {
      position: relative;
      display: block;
      padding: 10px 15px;
    }

    a:hover {
      text-decoration: none;
      background-color: #f5f8fa;
    }
  }
}
